---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=5c5fe7d3d9e166cb296f315e26a7eb8d&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619287207,"sunrise":1619266137,"sunset":1619315203,"temp":55.11,"feels_like":52.86,"pressure":1023,"humidity":54,"dew_point":38.79,"uvi":6.7,"clouds":49,"visibility":10000,"wind_speed":1.99,"wind_deg":335,"wind_gust":8.01,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1619287200,"temp":55.11,"feels_like":52.86,"pressure":1023,"humidity":54,"dew_point":38.79,"uvi":6.7,"clouds":49,"visibility":10000,"wind_speed":1.48,"wind_deg":108,"wind_gust":3.6,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1619290800,"temp":56.48,"feels_like":54.03,"pressure":1020,"humidity":47,"dew_point":36.52,"uvi":6.35,"clouds":59,"visibility":10000,"wind_speed":2.26,"wind_deg":7,"wind_gust":3.09,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619294400,"temp":58.69,"feels_like":56.1,"pressure":1016,"humidity":39,"dew_point":33.84,"uvi":5.91,"clouds":69,"visibility":10000,"wind_speed":2.55,"wind_deg":6,"wind_gust":3.8,"weather":[{"id":803,"main[...]
