---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&location=ajlkhafds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 04:49:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"ajlkhafds"},"locations":[{"street":"[1
        - 199] Elkhart Lane","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"East
        St. Paul","adminArea5Type":"City","adminArea4":"Division No. 13","adminArea4Type":"County","adminArea3":"MB","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"R2E","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr3676518","unknownInput":"","type":"s","latLng":{"lat":49.961601,"lng":-97.027343},"displayLatLng":{"lat":49.961601,"lng":-97.027343},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=49.961601,-97.027343|marker-sm-50318A-1&scalebar=true&zoom=15&rand=2062460361"},{"street":"[1
        - 99] Holkham Ave","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Hamilton","adminArea5Type":"City","adminArea4":"Hamilton","adminArea4Type":"County","adminArea3":"ON","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"L9K","geocodeQual[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=60e3430bea21d18bdd8893c485cd08b9&exclude=minutely&lat=49.961601&lon=-97.027343&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":49.9616,"lon":-97.0273,"timezone":"America/Winnipeg","timezone_offset":-18000,"current":{"dt":1619585380,"sunrise":1619521859,"sunset":1619574007,"temp":41.04,"feels_like":37.17,"pressure":1015,"humidity":61,"dew_point":29.03,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":5.75,"wind_deg":350,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619582400,"temp":41.74,"feels_like":36.45,"pressure":1015,"humidity":62,"dew_point":29.97,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":8.55,"wind_deg":32,"wind_gust":13.2,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619586000,"temp":41.04,"feels_like":34.93,"pressure":1015,"humidity":61,"dew_point":29.03,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":10,"wind_deg":25,"wind_gust":15.55,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619589600,"temp":40.78,"feels_like":35.67,"pressure":1015,"humidity":63,"dew_point":29.52,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":7.76,"wind_deg":31,"wind_gust":11.88,"weather":[{"id":800,"main":"Clear"[...]
