---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&location=12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 04:49:39 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"12345"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Schenectady","adminArea5Type":"City","adminArea4":"Schenectady
        County","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"12345","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"286271493","unknownInput":"","type":"s","latLng":{"lat":42.814243,"lng":-73.939569},"displayLatLng":{"lat":42.814243,"lng":-73.939569},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=42.814243,-73.939569|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-579031855"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"ZHYTOMYR
        OBLAST","adminArea3Type":"State","adminArea1":"UA","adminArea1Type":"Country","postalCode":"12345","geocodeQualityCode":"Z1XAA","geocodeQuality":"ZIP","dragPoint":false,"sideOfStreet":"N","linkId":"347105500","unknownInput":"","type":"s","latLng":{"lat":50.38117,"lng":28.71532},"displayLatLng":{"lat":50.38117,"lng":28.71532},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=50.38117,28.71532|marker-sm-50318A-2&scalebar=true&zoom=15&rand=-951355875"}]}]}'
  recorded_at: Wed, 28 Apr 2021 04:49:39 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=60e3430bea21d18bdd8893c485cd08b9&exclude=minutely&lat=42.814243&lon=-73.939569&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":42.8142,"lon":-73.9396,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619585379,"sunrise":1619603622,"sunset":1619653947,"temp":52.29,"feels_like":49.57,"pressure":1012,"humidity":50,"dew_point":34.23,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":2.15,"wind_deg":9,"wind_gust":2.33,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1619582400,"temp":52.45,"feels_like":49.98,"pressure":1012,"humidity":55,"dew_point":36.77,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":1.19,"wind_deg":2,"wind_gust":1.48,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.15},{"dt":1619586000,"temp":52.29,"feels_like":49.57,"pressure":1012,"humidity":50,"dew_point":34.23,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":2.15,"wind_deg":9,"wind_gust":2.33,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10n"}],"pop":0.32,"rain":{"1h":2.73}},{"dt":1619589600,"temp":52.2,"feels_like":49.8,"pressure":1012,"humidity":57,"dew_point":37.44,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":1.48,"wind_deg":37,"wind_gust":1.92,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.45},{"dt":1619593200,"temp":51.85,"feels_like":49.8,"pressure":1012,"humidity":65,"dew_point":40.48,"uvi":0,"clouds":94,"visibility":10000,"wind_speed":2.26,"wind_deg":91,"wind_gust":3.2,"weather":[{"id":[...]
