---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":325352,"perpage":1,"total":"325352","photo":[{"id":"51143524561","owner":"192840124@N05","secret":"838b290fc0","server":"65535","farm":66,"title":"LR-1234","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 05:24:50 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.getinfo&nojsoncallback=1&photo_id=51143524561
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51143524561","secret":"838b290fc0","server":"65535","farm":66,"dateuploaded":"1619582734","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"59d634f97a","originalformat":"jpg","owner":{"nsid":"192840124@N05","username":"Steve
        Carrell","realname":"Steve Carrell","location":"","iconserver":"0","iconfarm":0,"path_alias":null},"title":{"_content":"LR-1234"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619582734","taken":"2021-04-25
        16:27:10","takengranularity":"0","takenunknown":"0","lastupdate":"1619583192"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/192840124@N05\/51143524561\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 05:24:51 GMT
recorded_with: VCR 6.0.0
