---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":14957,"perpage":1,"total":"14957","photo":[{"id":"51142231625","owner":"20544648@N06","secret":"b81631d2df","server":"65535","farm":66,"title":"IMG_23478","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 03:55:28 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.getinfo&nojsoncallback=1&photo_id=51142231625
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51142231625","secret":"b81631d2df","server":"65535","farm":66,"dateuploaded":"1619488393","isfavorite":0,"license":"0","safety_level":"0","rotation":90,"owner":{"nsid":"20544648@N06","username":"mudsharkalex","realname":"","location":null,"iconserver":"8132","iconfarm":9,"path_alias":"mudsharkalex"},"title":{"_content":"IMG_23478"},"description":{"_content":"4\/15\/2021
        -- Snowy window with the Boeing 737 Max 8''s orange disco lights on."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619488393","taken":"2021-04-15
        19:36:33","takengranularity":"0","takenunknown":"0","lastupdate":"1619488609"},"views":"7","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"20499326-51142231625-3157","author":"20544648@N06","authorname":"mudsharkalex","raw":"Colorado","_content":"colorado","machine_tag":0},{"id":"20499326-51142231625-9669","author":"20544648@N06","authorname":"mudsharkalex","raw":"Denver","_content":"denver","machine_tag":0},{"id":"20499326-51142231625-85148","author":"20544648@N06","authorname":"mudsharkalex","raw":"Denver
        CO","_content":"denverco","machine_tag":0},{"id":"20499326-51142231625-2695","author":"20544648@N06","authorname":"mudsharkalex","raw":"airport","_content":"airport","machine_tag":0},{"id":"20499326-51142231625-446848","author":"20544648@N06","author[...]
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.getinfo&nojsoncallback=1&photo_id%5Bphoto%5D%5Bcomments%5D%5B_content%5D=0&photo_id%5Bphoto%5D%5Bdates%5D%5Blastupdate%5D=1619488609&photo_id%5Bphoto%5D%5Bdates%5D%5Bposted%5D=1619488393&photo_id%5Bphoto%5D%5Bdates%5D%5Btaken%5D=2021-04-15%2019:36:33&photo_id%5Bphoto%5D%5Bdates%5D%5Btakengranularity%5D=0&photo_id%5Bphoto%5D%5Bdates%5D%5Btakenunknown%5[...]
