---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&location=%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 21:54:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"
        "},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=648517565"}]}]}'
  recorded_at: Tue, 27 Apr 2021 21:54:02 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=5c5fe7d3d9e166cb296f315e26a7eb8d&exclude=minutely&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619560444,"sunrise":1619523718,"sunset":1619573127,"temp":64.53,"feels_like":63.45,"pressure":1007,"humidity":59,"dew_point":49.89,"uvi":2.7,"clouds":1,"visibility":10000,"wind_speed":11.5,"wind_deg":310,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.21}},"hourly":[{"dt":1619557200,"temp":66.13,"feels_like":65.17,"pressure":1006,"humidity":58,"dew_point":50.94,"uvi":2.12,"clouds":21,"visibility":10000,"wind_speed":7.92,"wind_deg":129,"wind_gust":13.65,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1619560800,"temp":64.53,"feels_like":63.45,"pressure":1007,"humidity":59,"dew_point":49.89,"uvi":2.7,"clouds":1,"visibility":10000,"wind_speed":6.76,"wind_deg":153,"wind_gust":14.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.25},{"dt":1619564400,"temp":66.27,"feels_like":65.28,"pressure":1006,"humidity":57,"dew_point":50.61,"uvi":1.32,"clouds":21,"visibility":10000,"wind_speed":5.28,"wind_deg":106,"wind_gust":12.26,"weather":[{"id":801,"[...]
