---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&location=dsfakjfds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 22:54:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dsfakjfds"},"locations":[{"street":"[18800
        - 18899] Kindsfater Ln","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Belle
        Fourche","adminArea5Type":"City","adminArea4":"Butte","adminArea4Type":"County","adminArea3":"SD","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"57717","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr5150887","unknownInput":"","type":"s","latLng":{"lat":44.674452,"lng":-103.834369},"displayLatLng":{"lat":44.674452,"lng":-103.834369},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=44.674452,-103.834369|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-49080890"},{"street":"[1
        - 99] Kindsfather Dr","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Livingston","adminArea5Type":"City","adminArea4":"Park","adminArea4Type":"County","adminArea3":"MT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"59047","geocodeQualityCode":"B1CXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr5150812","unknownInput":"","type":"s","latLng":{"lat":45.69503,"lng":-110.546321},"displayLatLng":{"lat":45.69503,"lng":-110.546321},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=45.69503,-110.546321|marker-sm-50318A-2&scalebar=true&zoom=15&rand=1755663125"}]}]}'
  recorded_at: Tue, 27 Apr 2021 22:54:39 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=60e3430bea21d18bdd8893c485cd08b9&exclude=minutely&lat=44.674452&lon=-103.834369&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.6745,"lon":-103.8344,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619564081,"sunrise":1619524245,"sunset":1619574889,"temp":54.32,"feels_like":52.36,"pressure":1014,"humidity":62,"dew_point":41.59,"uvi":1.39,"clouds":100,"visibility":10000,"wind_speed":1.68,"wind_deg":206,"wind_gust":2.98,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619560800,"temp":53.15,"feels_like":51.22,"pressure":1014,"humidity":65,"dew_point":41.7,"uvi":2.52,"clouds":100,"visibility":10000,"wind_speed":2.8,"wind_deg":193,"wind_gust":3.36,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.8},{"dt":1619564400,"temp":54.32,"feels_like":52.36,"pressure":1014,"humidity":62,"dew_point":41.59,"uvi":1.39,"clouds":100,"visibility":10000,"wind_speed":1.68,"wind_deg":206,"wind_gust":2.98,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.75},{"dt":1619568000,"temp":53.65,"feels_like":51.73,"pressure":1014,"humidity":64,"dew_point":41.79,"uvi":0.59,"clouds":99,"visibility":10000,"wind_speed":1.52,"wind_deg":333,"wind_gust":4.23,"weather":[{[...]
