---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&location=%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 17:12:00 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"
        "},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=-1525481076"}]}]}'
  recorded_at: Sat, 24 Apr 2021 17:12:00 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=5c5fe7d3d9e166cb296f315e26a7eb8d&exclude=minutely&lat=39.390897&lon=-99.066067&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619284320,"sunrise":1619264753,"sunset":1619313747,"temp":52,"feels_like":49.71,"pressure":1018,"humidity":60,"dew_point":38.57,"uvi":5.87,"clouds":0,"visibility":10000,"wind_speed":1.99,"wind_deg":53,"wind_gust":8.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619283600,"temp":52,"feels_like":49.71,"pressure":1018,"humidity":60,"dew_point":38.57,"uvi":5.87,"clouds":0,"visibility":10000,"wind_speed":5.93,"wind_deg":47,"wind_gust":4.63,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619287200,"temp":53.26,"feels_like":50.95,"pressure":1018,"humidity":57,"dew_point":38.44,"uvi":6.94,"clouds":0,"visibility":10000,"wind_speed":3.83,"wind_deg":71,"wind_gust":2.59,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619290800,"temp":55.35,"feels_like":53.11,"pressure":1017,"humidity":54,"dew_point":39,"uvi":6.97,"clouds":0,"visibility":10000,"wind_speed":4.25,"wind_deg":119,"wind_gust":3.36,"weather":[{"id":800,"main":"Cl[...]
