---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=5c5fe7d3d9e166cb296f315e26a7eb8d&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619220272,"sunrise":1619179818,"sunset":1619228742,"temp":285.53,"feels_like":283.74,"pressure":1009,"humidity":35,"dew_point":270.82,"uvi":1.67,"clouds":51,"visibility":10000,"wind_speed":2.68,"wind_deg":9,"wind_gust":4.92,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"minutely":[{"dt":1619220300,"precipitation":0},{"dt":1619220360,"precipitation":0},{"dt":1619220420,"precipitation":0},{"dt":1619220480,"precipitation":0},{"dt":1619220540,"precipitation":0},{"dt":1619220600,"precipitation":0},{"dt":1619220660,"precipitation":0},{"dt":1619220720,"precipitation":0},{"dt":1619220780,"precipitation":0},{"dt":1619220840,"precipitation":0},{"dt":1619220900,"precipitation":0},{"dt":1619220960,"precipitation":0},{"dt":1619221020,"precipitation":0},{"dt":1619221080,"precipitation":0},{"dt":1619221140,"precipitati[...]
