---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 00:12:33 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1339066309"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=9DNRSfALshlNLG8C1tdJE9CW8VZAiRqe&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=2009895171"}]}]}'
  recorded_at: Sat, 24 Apr 2021 00:12:33 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=5c5fe7d3d9e166cb296f315e26a7eb8d&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619223154,"sunrise":1619179818,"sunset":1619228742,"temp":283.54,"feels_like":281.73,"pressure":1008,"humidity":42,"dew_point":271.42,"uvi":0.66,"clouds":50,"visibility":10000,"wind_speed":2.68,"wind_deg":276,"wind_gust":7.6,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1619222400,"temp":283.54,"feels_like":281.73,"pressure":1008,"humidity":42,"dew_point":271.42,"uvi":0.66,"clouds":50,"visibility":10000,"wind_speed":0.86,"wind_deg":76,"wind_gust":1.39,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.68},{"dt":1619226000,"temp":283.65,"feels_like":281.88,"pressure":1008,"humidity":43,"dew_point":271.79,"uvi":0.19,"clouds":58,"visibility":10000,"wind_speed":2.66,"wind_deg":85,"wind_gust":1.74,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.35},{"dt":1619229600,"temp":282.94,"feels_like":281.47,"pressure":1009,"humidity":48,"dew_point":272.54,"uvi":0,"clouds":50,"visibility":10000,"wind_speed":2.9,"wind_deg":74,"wind_gust":4.34,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.47},{"dt":1619233200,"temp":282.14,"feels_like":281,"pressure":1010,"humidity":56,"dew_point":273.84,"uvi":0,"clouds":58,"visibility":10000,"wind_speed":2.2,"wind_deg":94,"wind_gust":2.81,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.55,"rain":{"1h":0.37}},{"dt":1619236800,"temp":281.27,"feels_like":280.63,"pressure":1010,"humidity":62,"dew_point":274.43,"uvi":0,"clouds":52,"visibility":10000,"wind_speed":1.52,"wind_deg":152,"wind_gust":3.23,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.43},{"dt":1619240400,"temp":280.26,"feels_like":280.26,"pressure":1012,"humidity":67,"dew_point":274.54,"uvi":0,"clouds":42,"visibility":10000,"wind_speed":0.62,"wind_deg":205,"wind_gust":0.97,"weathe[...]
