---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":288680,"perpage":1,"total":"288680","photo":[{"id":"51137554072","owner":"192565815@N03","secret":"cedd17649b","server":"65535","farm":66,"title":"Detoxification
        Centers at Phoenix, AZ and Denver, CO","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 23:51:31 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.getinfo&nojsoncallback=1&photo_id=51137554072
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51137554072","secret":"cedd17649b","server":"65535","farm":66,"dateuploaded":"1619382397","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"1a411df4f2","originalformat":"jpg","owner":{"nsid":"192565815@N03","username":"info.gallusdetox89","realname":"Gallus
        Detox","location":"","iconserver":"65535","iconfarm":66,"path_alias":null},"title":{"_content":"Detoxification
        Centers at Phoenix, AZ and Denver, CO"},"description":{"_content":"The liquor
        and medicine detoxification apps at our <a href=\"https:\/\/www.gallusdetox.com\/locations\/arizona\/phoenix-detox-center\/\"
        rel=\"noreferrer nofollow\">Gallus Detox<\/a> Phoenix, AZ and Denver, CO-area
        centers give you time for you to cure, both emotionally and physically. Currently
        incorporated, clinically researched maintenance which helps the body adapt
        to modify, even though enabling your own mind find new tactics to handle all
        the stressors on your own life."},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619382397","taken":"2021-04-25
        13:01:13","takengranularity":0,"takenunknown":"1","lastupdate":"1619382397"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[{"id":"192542761-51137554072-519407414","author":"192565815@N03","authorname":"info.gallusdetox89","raw":"denver
        detox center","_content":"denverdetoxcenter","machine_tag":false},{"id":"192542761-51137554072-519407419","author":"192565815@N03","authorname":"info.gallusdetox89","raw":"denver
        detox","_content":"denverdetox","machine_tag":false},{"id":"192542761-51137554072-519407424","author":"192565815@N03","authorname":"info.gallusdetox89","raw":"detox
        denver","_content":"detoxdenver","machine_tag":false},{"id":"192542761-51137554072-519407429","author":"192565815@N03","authorname":"info.gallusdetox89","raw":"detox
        denver co","_content":"detoxdenverco","machine_tag":false},{"id":"192542761-51137554072-519407434","author":"192565815@N03","authorname":"info.gallusdetox89","raw":"colorado
        detox","_content":"coloradodetox","machine_tag":false},{"id":"192542761-51137554072-518588332","author":"192565815@N03","authorname":"info.gallusdetox89","raw":"phoenix
        detox center","_content":"phoenixdetoxcenter","machine_tag":false},{"id":"192542761-51137554072-342477651","author":"192565815@N03","authorname":"info.gallusdetox89","raw":"phoenix
        detox","_content":"phoenixdetox","machine_tag":false},{"id":"192542761-51137554072-518588337","author":"192565815@N03","authorname":"info.gallusdetox89","raw":"detox
        phoenix","_content":"detoxphoenix","machine_tag":false}]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/192565815@N03\/51137554072\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 23:51:31 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.getinfo&nojsoncallback=1&photo_id%5Bphoto%5D%5Bcomments%5D%5B_content%5D=0&photo_id%5Bphoto%5D%5Bdates%5D%5Blastupdate%5D=1619382397&photo_id%5Bphoto%5D%5Bdates%5D%5Bposted%5D=1619382397&photo_id%5Bphoto%5D%5Bdates%5D%5Btaken%5D=2021-04-25%2013:01:13&photo_id%5Bphoto%5D%5Bdates%5D%5Btakengranularity%5D=0&photo_id%5Bphoto%5D%5Bdates%5D%5Btakenunknown%5[...]
