---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":464570,"perpage":1,"total":"464570","photo":[{"id":"51138576941","owner":"35443783@N00","secret":"92dd182cbc","server":"65535","farm":66,"title":"0G3A2123.jpg","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 22:57:59 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.getinfo&nojsoncallback=1&photo_id=51138576941
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51138576941","secret":"92dd182cbc","server":"65535","farm":66,"dateuploaded":"1619391473","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"originalsecret":"abc4fa9110","originalformat":"jpg","owner":{"nsid":"35443783@N00","username":"gregkunz","realname":"","location":null,"iconserver":"20","iconfarm":1,"path_alias":"benatarfan"},"title":{"_content":"0G3A2123.jpg"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619391473","taken":"2021-04-23
        18:52:59","takengranularity":"0","takenunknown":"0","lastupdate":"1619391474"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":1,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/benatarfan\/51138576941\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 22:57:59 GMT
recorded_with: VCR 6.0.0
