---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=-20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":470999,"perpage":1,"total":"470999","photo":[{"id":"51142808332","owner":"46617160@N02","secret":"9ae1553c44","server":"65535","farm":66,"title":"DSC07263-2.jpg","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 03:33:40 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=a14ff48732412aa961d9b773ca494e7d&format=json&method=flickr.photos.getinfo&nojsoncallback=1&photo_id=51142808332
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photo":{"id":"51142808332","secret":"9ae1553c44","server":"65535","farm":66,"dateuploaded":"1619580814","isfavorite":0,"license":"0","safety_level":"0","rotation":0,"owner":{"nsid":"46617160@N02","username":"Claudia
        Arciga","realname":"Claudia Janneth Arciga L\u00f3pez","location":"","iconserver":"7458","iconfarm":8,"path_alias":"claudia_arciga"},"title":{"_content":"DSC07263-2.jpg"},"description":{"_content":""},"visibility":{"ispublic":1,"isfriend":0,"isfamily":0},"dates":{"posted":"1619580814","taken":"2021-04-15
        11:33:23","takengranularity":"0","takenunknown":"0","lastupdate":"1619580818"},"views":"0","editability":{"cancomment":0,"canaddmeta":0},"publiceditability":{"cancomment":1,"canaddmeta":0},"usage":{"candownload":0,"canblog":0,"canprint":0,"canshare":1},"comments":{"_content":"0"},"notes":{"note":[]},"people":{"haspeople":0},"tags":{"tag":[]},"urls":{"url":[{"type":"photopage","_content":"https:\/\/www.flickr.com\/photos\/claudia_arciga\/51142808332\/"}]},"media":"photo"},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 03:33:40 GMT
recorded_with: VCR 6.0.0
